	body{
			margin: 0px;
			padding: 0px;
			font-size: medium;
		}

		.content-footer,
		.masthead-intro,
		.masthead-heading {
  			text-align: center;
		}

		.masthead {
			padding: 6em 0;
			background-image: url('http://i140.photobucket.com/albums/r37/owned_album/download_zpsdeqno9oq.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			border-top: solid 1em gray;				
		}

		.masthead-intro {
			margin-bottom: 0.1em;
		}

		.masthead-heading {
			margin-top: -0.2em;
		}

		
		.introduction-section,
		.location-section,
		.questions-section {
			max-width: 38em;
			margin-left: auto;
			margin-right: auto;
			margin-top: 2em;
		}

		.content-footer {
			
			padding: 5em 0;
			background-color: #594F49;			
			font-size: 1.2em;

		}

		.social > li {
			display: inline-block;
		}

		.content-footer > p {
			color: #FFF;
		}

		